# Home {
    ~/nixos-config/hardware-configuration.nix
# }

# .config {
    # GTK 3
    .config/gtk-3.0/bookmarks

    # GTK 4
    .config/gtk-4.0/assets/
    .config/gtk-4.0/gtk-dark.css

    # QT5CT
    .config/qt5ct/qss/

    # QT6CT
    .config/qt6ct/qss/

    # Vencord
    .config/Vencord/dist/

    # VLC
    .config/vlc/vlc-qt-interface.conf
# }
