configuration {
    show-icons: true;

    display-drun:        "drun";
    display-combi:       "combi";
    display-filebrowser: "filebrowser";
    display-run:         "run";
    display-ssh:         "ssh";
    display-window:      "window";
}

@theme "~/.config/rofi/theme.rasi"
