configuration {
    show-icons: true;

    display-drun:        "Apps";
    display-combi:       "Combi";
    display-emoji:       "Emoji";
    display-filebrowser: "File Browser";
    display-run:         "Run";
    display-ssh:         "SSH";
    display-window:      "Windows";
}

@theme "~/.config/rofi/theme.rasi"
