/* adw-gtk3 defaults.css - https://github.com/lassekongo83/adw-gtk3/blob/main/src/sass/_defaults.scss */

/* The main accent color and the matching text value */
@define-color accent_bg_color {{colors.primary.default.hex}};
@define-color accent_fg_color {{colors.on_primary.default.hex}};

/* destructive-action buttons */
@define-color destructive_bg_color {{colors.error.default.hex}};
@define-color destructive_fg_color {{colors.on_error.default.hex}};

/* Levelbars, entries, labels and infobars. These don't need text colors */
@define-color success_bg_color {{colors.primary.default.hex}};
@define-color success_fg_color {{colors.on_primary.default.hex}};

@define-color warning_bg_color {{colors.secondary.default.hex}};
@define-color warning_fg_color {{colors.on_secondary.default.hex}};

@define-color error_bg_color {{colors.error.default.hex}};
@define-color error_fg_color {{colors.on_error.default.hex}};

/* Colors derived from their matching bg color */

@define-color accent_color {{colors.primary_container.default.hex}};
@define-color destructive_color {{colors.error_container.default.hex}};
@define-color success_color {{colors.primary_container.default.hex}};
@define-color warning_color {{colors.secondary_container.default.hex}};
@define-color error_color {{colors.error_container.default.hex}};

/* Window */
@define-color window_bg_color {{colors.surface.default.hex}};
@define-color window_fg_color {{colors.on_surface.default.hex}};

/* Views - e.g. text view or tree view */
@define-color view_bg_color @window_bg_color;
@define-color view_fg_color {{colors.on_surface.default.hex}};

/* Header bar, search bar, tab bar */
@define-color headerbar_bg_color {{colors.surface_container.default.hex}};
@define-color headerbar_fg_color {{colors.on_surface.default.hex}};
@define-color headerbar_border_color rgba(0, 0, 0, 0);
@define-color headerbar_backdrop_color @headerbar_bg_color;
@define-color headerbar_shade_color {{colors.surface_bright.default.hex}};
@define-color headerbar_darker_shade_color {{colors.surface_dim.default.hex}};

/* Split pane views */
@define-color sidebar_bg_color {{colors.surface_container.default.hex}};
@define-color sidebar_fg_color {{colors.on_surface.default.hex}};
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color sidebar_shade_color {{colors.surface_bright.default.hex}};
@define-color sidebar_border_color rgba(0, 0, 0, 0);

/* Cards, boxed lists */
@define-color card_bg_color {{colors.surface_container.default.hex}};
@define-color card_fg_color {{colors.on_surface.default.hex}};
@define-color card_shade_color {{colors.surface_bright.default.hex}};

/* Dialogs */
@define-color dialog_bg_color {{colors.surface_container_highest.default.hex}};
@define-color dialog_fg_color {{colors.on_surface.default.hex}};

/* Popovers */
@define-color popover_bg_color {{colors.surface_container_high.default.hex}};
@define-color popover_fg_color {{colors.on_surface.default.hex}};
@define-color popover_shade_color {{colors.surface_bright.default.hex}};

/* Thumbnails */
@define-color thumbnail_bg_color {{colors.surface_container_high.default.hex}};
@define-color thumbnail_fg_color {{colors.on_surface.default.hex}};

/* Miscellaneous */
@define-color shade_color {{colors.surface_bright.default.hex}};
@define-color scrollbar_outline_color rgba(0, 0, 0, 0);

/* XFCE */
@define-color panel_bg_color {{colors.surface.default.hex}};
@define-color panel_fg_color {{colors.on_surface.default.hex}};
